<!doctype html>
<head>
	<h1><center>Open Data Gov</center></h1>
	<h2><center>Ministerio de Coordinación y Planificación</center></h2>
</head>
<body>
	<p><b><center>Reportes de escuelas</center></b></p>
	<div id='data'>
		<center><img src={{url}}></img></center>
	</div>
	<p></p>
	<center>
		<div id='users'>
			<p>Para reportar un problema en un establecimiento por favor <b>inicie sesión</b>.</p>
			<form method="post" class="navbar-form" id="login">
				<input type="text" name="username" autofocus="autofocus" min="5" required="required" placeholder="usuario" class="span2"/>
				<input type="password" name="password" min="5" required="required" placeholder="contraseña" class="span2"/>
				<input type="submit" value="Login" id='login-btn' class="btn btn-default"/>
			</form>
		</div>
	</center>
</body>
<footer>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
});
</footer>
